appconf==0.1.11
asn1crypto==0.24.0
beautifulsoup4==4.8.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.5
django-bootstrap3==11.1.0
django-user==0.2.1
idna==2.8
lxml==4.3.4
Pillow==9.0.0
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.0.0
PySocks==1.7.0
python-wordpress-xmlrpc==2.3
pytz==2019.2
PyYAML==5.1.2
requests==2.21.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.24.2
